body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 8px;
}

h3 {
  margin-top: 20px;
}


.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

input {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-left: 8px;
}

button {
  margin-left: 8px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  background-color: #1976d2;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #145aa3;
}


.country-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.country-card img {
  margin-top: 10px;
  border-radius: 6px;
}


.weather-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #f0f4ff;
  border-radius: 8px;
}

.weather-box img {
  display: block;
  margin-top: 8px;
}
